.banner-img{
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    margin-right: 0;
    
}

.banner{
    background-color: var(--blue);
}

.banner-container{
    margin: auto;
    width: 100%;
}

.banner-right{
    background-color: var(--blue);
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left{
    /* background-color: var(--blue); */
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.banner-right-text{
    font-family: var(--ff-Staatliches);
    color: var(--beige);
    text-align: center;
    font-size: 4rem;
    flex: 0 0 360px;
}

@media only screen and (max-width: 1200px) {
    .banner-right-text{
        font-size: 3.5em;
    }
    .shop-now{
        color: green;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .banner-right-text{
        font-size: 3em
    }
    
    .shop-now{
        font-size: 1em;
        color: green;
    }
}

.shop-now{
    color: white;
    font-family: var(--ff-barlow-condensed);
    font-size: 3rem;
}

.shop-now:hover{
    color: white;
}